@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap);
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
* {
  margin: 0;
  padding: 0;
}
.App {
  background-color: #141414;
  flex-direction: column;
  min-height: 100vh;
}
.App,
.slider_blider {
  align-items: center;
  display: flex;
}
.slider_blider {
  width: 500px;
}
.circle {
  align-items: center;
  border-radius: 100px;
  display: flex;
  height: 200px;
  justify-content: center;
  padding: 20px;
  position: relative;
  width: 200px;
}
.circle:after {
  -webkit-animation: rotation 15s linear infinite;
  animation: rotation 15s linear infinite;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='rgba(255, 255, 255, 0.247)' stroke-width='40' stroke-dasharray='30,5' stroke-dashoffset='5'/%3E%3C/svg%3E");
  border-radius: 100%;
  content: "";
  height: 105%;
  position: absolute;
  width: 105%;
}
.circle__loading-line {
  background-color: initial;
  border-radius: 10px;
  height: 40px;
  margin: 100px auto;
  width: 300px;
  z-index: 0;
}
.circle__loading-line,
.circle__wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.circle__wrapper {
  border: 2px solid #fff;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
.circle__wrapper:after {
  border: 2px solid #fff;
  border-radius: 50%;
  content: "";
  display: inline-block;
  min-height: 85%;
  opacity: 0.8;
  position: absolute;
  top: 1;
  width: 85%;
  z-index: 100;
}
.circle__loading-line:before {
  -webkit-animation: lineAnim 0.9s linear infinite;
  animation: lineAnim 0.9s linear infinite;
  background: linear-gradient(
    90deg,
    rgba(49, 121, 157, 0.367),
    rgba(49, 121, 157, 0.636) 19%,
    #00d4ff
  );
  content: "";
  height: 40px;
  left: -52%;
  opacity: 0.5;
  position: absolute;
  width: 40%;
  z-index: 0;
}
.circle__value {
  color: #fff;
  display: inline-block;
  font-family: Montserrat, serif;
  font-size: 38px;
  padding-left: 7px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 10;
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-webkit-keyframes lineAnim {
  0% {
    left: -100%;
    width: 100%;
  }
  20% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  95% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    left: 130%;
    width: 90%;
  }
}
@keyframes lineAnim {
  0% {
    left: -100%;
    width: 100%;
  }
  20% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  95% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    left: 130%;
    width: 90%;
  }
}
.circle-slider__clock-dial {
  margin-left: 6px;
}
.circle-slider__clock {
  -webkit-user-select: none;
  user-select: none;
}
.circle-slider__clock-wrapper {
  border-bottom: 1px dotted #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  color: #fff;
  font-family: Montserrat, serif;
  font-size: 9px;
  left: 39%;
  padding: 2px;
  position: relative;
  position: absolute;
  top: 35%;
  width: 22.5%;
}
.circle-slider__clock-wrapper:before {
  left: -15%;
}
.circle-slider__clock-wrapper:after,
.circle-slider__clock-wrapper:before {
  border: 1px solid #fff;
  border-radius: 50%;
  content: "";
  height: 2px;
  position: absolute;
  top: 40%;
  width: 2px;
}
.circle-slider__clock-wrapper:after {
  right: -15%;
}
.circle-slider__clock-dial:before {
  background-color: #fff;
  content: "";
  height: 1px;
  left: -10%;
  position: absolute;
  top: 50%;
  width: 10%;
}
.circle-slider__clock-title {
  background-color: #fff;
  bottom: -67%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 6px;
  font-weight: 600;
  left: 30%;
  padding: 0 7px;
  position: absolute;
  text-transform: uppercase;
}
.circle-slider__clock-dial:after {
  background-color: #fff;
  content: "";
  height: 1px;
  position: absolute;
  right: -10%;
  top: 50%;
  width: 10%;
}
* {
  box-sizing: border-box;
}
.circle-slider__canvas {
  background: #26292d;
  background: transparent;
  border-radius: 50%;
  font-family: Montserrat, sans-serif;
  height: 340px;
  position: relative;
  touch-action: none;
  width: 340px;
}
.circle-slider__wrapper {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.circle-slider__drops-box {
  border-bottom: 1px solid #ffffff2f;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2px;
  position: absolute;
  right: 33.5%;
  top: 57%;
  width: 33%;
}
.circle-slider__drops-icon {
  background-image: url(./static/media/drop_filled.7e3892bd042123acfb9b.svg);
  background-position: 50%;
  display: inline-block;
  margin-right: 2px;
  min-height: 13px;
  rotate: 180deg;
  width: 10%;
}
.circle-slider__drops-icon--transp {
  opacity: 0.5;
  rotate: 0deg;
}
.circle-slider {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
/*# sourceMappingURL=main.7bad3437.css.map*/
